= include_gon(:init => true)
%div= render 'shared/tickers'
.row
  .col-md-2
    = simple_form_for(@run) do |f|
      = f.error_notification

      .form-inputs
        = f.association :coin, autofocus: true, input_html: {onchange: "changeLastPrice()"}

        = f.input :kind
        = f.input :depo
        = f.input :last
        = f.input :start
        = f.input :overlay
        = f.input :martingale
        = f.input :orders
        = f.input :profit
        = f.input :scale
        = f.input :stop_loss
        = f.input :status

      .form-actions
        = f.button :submit
